@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: honeydew;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	line-height: 1.4;
	font-family: 'Oswald', sans-serif;
    background-color: #333;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	
}

h1 {
	font-size: 2rem;
	font-weight: normal;
}
h1 a {
    color: honeydew;
}

p {
	font-size: 1.1rem;
}

a {
	text-decoration: none;
	text-underline-offset: 0.25em;
	transition: 0.1s;
	font-size: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-weight: bolder;
}
.home-nav-div {
	width: 50%;
}

.home-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-nav li {
	list-style: none;
}
.home-nav li a {
    color: honeydew;
}
@media (max-width: 743px ) {
	.home-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.home-nav-div {
		width: 70%;
	}
}

main{
    width: 80%;
    margin: auto;
}
.bottom-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    list-style: none;
}
.bottom-socials li {
    display: inline-block;
    margin-right: 3rem;
    font-size: 2rem;
}
.bottom-socials li a{
    text-decoration: none;
    color: honeydew;
}
#motivation {
	background: url(https://pilbox.themuse.com/image.png?url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F24483.png%3Fv%3Dd338a02fcf9320dd42192025bfdbbdf9f23f3162139ae3c7f46bf849e8e854d4&prog=1&w=780);
	height: 8rem;
	background-size: cover;
	background-position: center;
	width: 100%;
	overflow: hidden;
	padding-top: 35px;
}

#form-heading {
	width: 100%;
	font-size: 30px;
	text-align: center;
}
.contact-advice {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
}

.input-group {
	display: block;
	padding: 20px;
}
textarea {
	width: 100%;
}

.input-group input {
	width: 100%;
}
#submit-div {
	width: 100%;
	margin: auto;
	text-align: center;
}

.contact-form {
	width: 70%;
	border: 2px solid rgb(131, 124, 124);
	padding: 20px;
	border-radius: 5px;
	margin: auto;
	margin-top: 30px;
	background-color: #333;
	color: honeydew;
}

@media (max-width:575px) {

}